<!DOCTYPE html>
<html>
<head>
    <title>Doctor Dashboard</title>
</head>
<body style="font-family:sans-serif; text-align:center;">

    <h2>👨‍⚕️ Doctor Dashboard</h2>

    {% if patients %}
        <table border="1" style="margin:auto;">
            <tr>
                <th>Name</th>
                <th>Symptoms</th>
                <th>Priority</th>
            </tr>

            {% for p in patients %}
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.symptoms }}</td>
                <td>{{ p.priority }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No patients yet</p>
    {% endif %}

    <br>
    <a href="/patient">Go to Patient View</a>
    <br>
    <a href="/">Home</a>

</body>
</html>
