<!DOCTYPE html>
<html>
<head>
<title>Patient Queue</title>
<style>
body{font-family:Arial;background:#eef2f7;padding:20px;}
h2,h3{text-align:center;}
table{width:80%;margin:auto;border-collapse:collapse;background:white;}
th,td{padding:10px;border:1px solid #ccc;text-align:center;}
th{background:#2f80ed;color:white;}
</style>
</head>
<body>

<h2>🧾 Patient Queue</h2>
<h3>📅 {{ now.strftime("%d-%m-%Y") }}</h3>

<table>
<tr>
<th>Position</th>
<th>Name</th>
<th>Doctor</th>
<th>Status</th>
</tr>

{% for p in patients %}
<tr>
<td>{{loop.index}}</td>
<td>{{p['name']}}</td>
<td>{{p['doctor']}}</td>
<td>
{% if p['status']=="Done" %}
✔ Done
{% elif p['emergency']==1 %}
🚨 Emergency
{% else %}
Waiting
{% endif %}
</td>
</tr>
{% endfor %}
</table>

</body>
</html>
