<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h2>Patient Form</h2>

<div class="card">
<form method="POST">
<input name="name" placeholder="Name" required>
<input name="age" placeholder="Age" required>
<textarea name="symptoms" placeholder="Symptoms" required></textarea>
<button type="submit">Submit</button>
</form>
</div>

{% if success is defined and success %}
<div class="card">
<h3>Doctor: {{ specialist }}</h3>
<h3>Priority: {{ priority }}</h3>
</div>
{% endif %}

<div class="card">
<h3>Pending Patients</h3>

<table>
<tr>
<th>Name</th>
<th>Doctor</th>
<th>Status</th>
</tr>

{% for p in patients %}
<tr>
<td>{{ p.name }}</td>
<td>{{ p.doctor }}</td>
<td>{% if p.done %}✔ Done{% else %}⏳ Waiting{% endif %}</td>
</tr>
{% endfor %}

</table>
</div>

<a href="/">Home</a>

</div>

</body>
</html>
