<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>🧑 Patient Registration</h1>

<div class="card">

<form method="POST">
<input type="text" name="name" placeholder="Enter Name" required>
<input type="number" name="age" placeholder="Enter Age" required>
<textarea name="symptoms" placeholder="Describe Symptoms" required></textarea>

<button type="submit">Submit</button>
</form>

</div>

{% if success %}
<div class="card">

{% if priority == "High" %}
<h2 style="color:red;">🚨 EMERGENCY CASE</h2>
{% endif %}

<h3>Assigned Doctor: {{ specialist }}</h3>
<h3>Priority Level: {{ priority }}</h3>

</div>
{% endif %}

<div class="card">
<h2>📋 Pending Patients</h2>

<table>
<tr>
<th>Name</th>
<th>Doctor</th>
<th>Status</th>
</tr>

{% for p in patients %}
<tr>
<td>{{ p.name }}</td>
<td>{{ p.doctor }}</td>
<td>
{% if p.done %}
✔ Done
{% else %}
⏳ Waiting
{% endif %}
</td>
</tr>
{% endfor %}

</table>
</div>

<br>
<a href="/">🏠 Home</a>

</div>

</body>
</html>
